@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: "Chewy";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Chewy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bungee";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Bungee-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Karla";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Karla/Karla-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Karla/Karla-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Glow Better";
    font-style: normal;
    font-weight: normal;
    src: local("../fonts/Glow Better Serif"),
        url("./fonts/Glow Better Serif.ttf") format("truetype");
}

@font-face {
    font-family: "Glow Better Script";
    font-style: normal;
    font-weight: normal;
    src: local("../fonts/Glow Better Script"),
        url("./fonts/Glow Better Script.otf") format("truetype");
}

body {
    background: #f8f4ff;
    margin: 0;
    overscroll-behavior-y: none;
    font-family: "Mulish";
}

h2 {
    font-size: 3.8vh;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 48px;
    line-height: 30px;
    font-weight: 300;
}

section {
    padding: 2.5vw 0;
}

.heading-left {
    text-align: left;
}

.heading-right {
    text-align: right;
}

.banner {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #FFDE6A;
    height: 90px;
}

.banner-container {
    background-color: #FFDE6A;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
}

.hero-image-mask {
    width: 100%;
    float: right;
    padding: 16px 0;
}

.hero-image-mask:hover {
    background: radial-gradient(#FFDE6A 28%, #ffffff00 72%);
}

.hero-image-mask a {
    display: block;
}

/* Landscape */
@media screen and (orientation:landscape) {
    .title-logo {
        font-family: "Glow Better";
        position: static;
        padding-top: 16px;
        padding-right: 26px;
        padding-left: 15px;
        float: left;
        font-weight: 700;
        -o-object-fit: fill;
        object-fit: fill;
    }

    .w-nav-link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        color: #222;
        padding: 20px;
        text-align: left;
        font-weight: 900;
        font-size: xxx-large;
        margin-left: auto;
        margin-right: auto;
        margin-top: -18px;
        color: #FF5E60;
        font-family: "Karla";
    }

    .flex-container {

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .hero-image {
        width: 100%;
        max-width: 600px;
        margin-bottom: 17px;
    }

    .hero-image-mask {
        margin-left: 40px;
        padding-top: 24px;
    }
}

/* Portrait */
@media screen and (orientation:portrait) {
    .title-logo {
        font-family: "Glow Better";
        font-size: xx-large;
        text-align: center;
        font-weight: 700;
    }

    .w-nav-link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        color: #222;
        padding: 20px;
        text-align: left;
        font-weight: 900;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        margin-top: -18px;
        color: #FF5E60;
        font-family: "Karla";
    }

    .flex-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .hero-image {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto 12px;
        padding: 12px;
        box-sizing: border-box;
    }

    .swap_one {
        order: 2;
    }

    .swap_two {
        order: 1;
    }

    .heading-left {
        text-align: center;
    }

    .heading-right {
        text-align: center;
    }

}




.w-nav-menu {
    position: relative;
    float: right;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
}

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #2e2e2e;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    display: block;
    width: 100%;
    max-width: 90%;
}

.paragraph-4 {
    margin-bottom: 20px;
    color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 1050px;
    margin: 0 auto;
    padding: 22px 12px;
}

.container.wide {
    max-width: 1200px;
}

.feature-image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    margin: 24px;
}

.heading-12 {
    margin-top: 10px;
    color: #fff;
    line-height: 46px;
}

.hero {
    display: block;
    padding-top: 48px;
    padding-bottom: 24px;
    margin-bottom: 4vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E8BA56;
    min-height: 55vh;
}

.footer {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 35px;
    background-color: #FFBC5E;
}

.footer .flex {
    flex-wrap: wrap;
}

.footer .title {
    font-family: "Karla";
    color: #676770;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
}

h5 {
    font-family: "Karla";
    margin-top: 0;
    margin-bottom: 20px;
    color: #676770;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    padding: 6px;
}

.logo {
    flex: 0 0 auto;
    font-family: "Glow Better";
    font-weight: normal;
    text-align: center;
    line-height: 1;
    color: white;
    margin: 0 auto;
    font-size: 36px;
}

#webapp_sublogo {
    margin-top: 0px;
    flex: 0 0 auto;
    font-family: "Glow Better Script";
    font-weight: normal;
    text-align: right;
    font-size: 25px;
    line-height: 1;
    color: black;
    margin-right: 25%;

}


#plugin_sublogo {
    display: inline;
    margin-top: 0px;
    flex: 0 0 auto;
    font-family: "Bungee";
    font-weight: normal;
    text-align: right;
    font-size: 40px;
    line-height: 1;
    color: black;
    margin-right: 25%;

}

.brand-logo {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
}

.glow-text {
    text-shadow: -6px -7px 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073
}

.flex {
    display: flex;
    align-items: center;
}

.footer a {
    color: #d03c37;
}

.footer img {
    margin-right: 8px;
}
